game/backups
game/Engine
game/linux64
game/steamapps
game/Manifest_DebugFiles_Linux.txt
game/Manifest_NonUFSFiles_Linux.txt
game/Manifest_UFSFiles_Linux.txt
game/PalServer-arm64.sh
game/PalServer.sh
game/steamclient.so
game/DefaultPalWorldSettings.ini

game/Pal/Binaries
game/Pal/Content/Paks/Pal-LinuxServer.pak
game/Pal/Intermediate
game/Pal/Plugins

game/Pal/Saved/Config
game/Pal/Saved/Crashes
game/Pal/Saved/ImGui
game/Pal/Saved/Logs

tools/